

 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body{
    font-family: sans-serif;
    background-color: rgb(121, 121, 84);
   
    

}

.calculator{
    margin: 20px 20px 20px 20px;
    padding: 50px;
    max-width: 500px;
    background-color: rgb(16, 17, 15);
    border-radius: 10px;
    margin-top: 10rem;
    margin-left: 40rem;
   
    
}

.operandos{
    width: 100%;
    padding: 20px;
    text-align: right;
    background-color: rgb(216, 209, 209);
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 70px;
    font-family: monospace;

    
}

 .operandos [data-operand-1]{
    font-size: 35px;
} 

.calculator .button_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    padding: 10px;
    background-color: rgb(250, 106, 10);
    font-weight: bold;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(255, 187, 0);
    font-size: 25px;
    font-family: monospace;
    cursor: pointer;
    
}

button:hover{
    background-color: rgb(255, 187, 0);

}


button:nth-child(2){
    grid-column: span 2;
}

button:last-child{
    grid-column: span 2;
    background-color: rgb(242, 255, 127);
    border-color: rgb(255, 187, 0);
}

button:last-child:hover{
    background-color: rgb(63, 70, 3);
}

